{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title">
           <center> Task to be updated</center>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <br><br><br><br><br><br><br><br>
                <center>
                {{form.as_p}}
                <button type="submit" style="background-color: red;">Update</button>
                </center>
            </form>
        </div>
    </div>
</div>

{% endblock %}